<html>
    <head>
       <meta charset='utf-8'>
       <title>Wall</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Welcome to the Codingdojo Wall! </h1>
        <h5>@ViewBag.Welcome</h5>
        <a href="/logout">Log Out</a><br> 
        <form action='/wall/post' method='post'>
            <h3>Post a Message</h3>
            <textarea name="posts" rows="10" cols="120"></textarea> <br>
            <input type='submit' value='Post a Message'>
        </form>
        @{
            foreach(var post in ViewBag.Posts) {
                <b>Posted by: @post["firstname"] @post["lastname"] - @post["updated_at"].ToString("MMM d, yyyy")</b>
                <p>@post["content"]</p>
                if(ViewBag.Id == post["user_id"] && ViewBag.Now < post["updated_at"] + ViewBag.Thirty) {
                    <form action="/wall/delete" method="post">
                        <input type='hidden' name = 'texttype' value='posts'>
                        <input type='hidden' name = 'theid' value = '@post["id"]'>
                        <input type='submit' value='Delete Message'>
                    </form>
                }
                foreach(var comment in ViewBag.Comments) {
                    if(comment["post_id"] == post["id"]) {
                        <b>Commented on by: @comment["firstname"] @comment["lastname"] - @comment["updated_at"].ToString("MMM d, yyyy")</b>
                        <p>@comment["reply"]</p>
                        if(ViewBag.Id == comment["user_id"] && ViewBag.Now < comment["updated_at"] + ViewBag.Thirty){
                            <form action='/wall/delete' method='post'>
                                <input type='hidden' name = 'texttype' value='comments'>
                                <input type='hidden' name = 'theid' value = '@comment["id"]'>
                                <input type='submit' value='Delete Comment'>
                            </form>
                        }
                    }
                }
                <form action='/wall/comment' method='post'>
                    <h5>Post a Comment</h5>
                    <input type='hidden' name='postid' value='@post["id"]'>
                    <textarea name="comment" rows="5" cols="50"></textarea> <br>
                    <input type='submit' value='Post a Comment'>
                </form>
            }
        }
        <!-- {% for post in posts: %}
            <b>Posted by: {{post['first_name']}} {{post['last_name']}} {{post['updated_at'].strftime('%B %d %Y')}}</b>
            <p>{{post['content']}}</p>
            {% if session['user'] == post['user_id'] %}
                {% if now - post['updated_at'] <= thirty : %}
                    <form action='/wall/delete' method='post'>
                        <input type='hidden' name = 'texttype' value='posts'>
                        <input type='hidden' name = 'id' value = '{{post["id"]}}'>
                        <input type='submit' value='Delete Message'>
                    </form>
                {% endif %}
            {% endif %} -->
            <!-- {% for comment in comments: %}
                {% if(comment['post_id'] == post['id']): %}
                    <b>Commented on by: {{comment['first_name']}} {{comment['last_name']}} {{comment['updated_at'].strftime('%B %d %Y')}}</b>
                    <p>{{comment['reply']}}</p>
                    {% if session['user'] == comment['user_id'] %}
                    
                        {% if now - comment['updated_at'] <= thirty : %}
                            <form action='/wall/delete' method='post'>
                                <input type='hidden' name = 'texttype' value='comments'>
                                <input type='hidden' name = 'id' value = '{{comment["id"]}}'>
                                <input type='submit' value='Delete Message'>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <form action='/comment' method='post'>
                <h5>Post a Comment</h5>
                <input type='hidden' name='postid' value='{{post["id"]}}'>
                <textarea name="comment" rows="5" cols="50"></textarea> <br>
                <input type='submit' value='Post a Comment'>
            </form>
        {% endfor %} -->
    </body>
</html>